﻿* {
    margin: 0;
    padding: 0;
}



.form-box {
    width: 1000px;
    height: 625px;
    position: relative;
    margin:auto;
    background: #fff;
    overflow: hidden;
}
.form-box-top {
    width: 100%;
    height: 7%;
    position: relative;
}
.form-box-left {
   
    width: 330px;
    height: 92%;
    position: relative;
    align-items:self-start;
   
       display: inline-block;
    overflow: hidden;
}
.form-box-right {
    border: 1px solid black;
    width: 850px;
    display: inline-block;
    height: 92%;
    position: relative;
    align-items: self-start;
}
.form-box-large .columnbox {
    width: 315px;
    height: 15%;
    border:0.5px dotted;
   margin-left:2%;
   margin-top:1%;
    position: relative;
    align-items: self-start;
    
    overflow: hidden;
}
.largebtn {
 background-color:dimgrey;
    width: 95%;
    height:7%;
    margin:2%

}
 .each {
  margin-left:5%;
  margin-top:1%;
  font-size:13px;
  color:blue;
}
.form-box-large {
    width: 1200px;
    height: 625px;
    position: relative;
    margin:auto;
    background: #fff;
    overflow: hidden;
}

.button-box {
    width: 300px;
    margin: 10px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
    position: relative;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#register {
    display: none;
}

#login {
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(to right, #c2e59c, #64b3f4);
    border-radius: 30px;
    transition: .5s;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 100%;
    transition: .5s;
}

.input-field {
    width: 100%;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 25%;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 10px;
    background: linear-gradient(to right, #c2e59c, #64b3f4);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.buttonsForm {
    justify-content: center;
    align-items: center;
    bottom: 40%;
    font-size: 15px;
    padding: 2px;
    margin-left: 50px;
    margin-right: 50px;
}
.buttonsForm1 {
    font-size: 15px;
    padding: 2px;
    margin-left: 34px;
    margin-right: 34px;
}
